<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosBD.Properties.Settings.FinalICBFConnectionString"
            connectionString="Data Source=DEIVID;Initial Catalog=FinalICBF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>